@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Off-white);
    font-weight: 400;
}
form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
    max-width: 350px;
    min-height: 400px;
    margin: 15vh auto;
    padding: 4rem 3rem;
    border-radius: 15px 15px 100px 15px;
}
.in{
    display: flex;
    gap: 1rem;
}
.info{
    display: flex;
    flex-direction: column;
}
.break{
    border-top: 2px solid var(--Light-grey);
    width: 100%;
    align-self: center;
}
input[type=number]{
    border-radius: 0.25rem;
    border: 2px solid var(--Off-white);
    margin-left: 0.25rem;
    padding: 0.75rem;
    color: black;
    font-weight: 800;
    width: 4.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder{
    font-weight: 800;
}
label{
    text-transform: uppercase;
    color: var(--Smokey-grey);
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.75rem;
}
.splitter{
    max-height: 1rem;
}
.arrow {
    min-width: 60px;
    min-height: 60px;
    background-color: var(--Purple);
    border: none;
    border-radius: 50%;
    position: relative;
    top: -2rem;
    left: 6.5rem;
    background-image: url('assets/images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position-x: 13px;
    background-position-y: 13px;
    background-size: 2rem;
    object-fit: cover;
}
.arrow:hover{
    cursor: pointer;
    background-color: black;
}
.purple{
    color: var(--Purple);
}
.big-font{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}
.error-msg,
.invalid-date{
    font-size: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    font-weight: 400;
    display: none;
}
.red{
    color: var(--Light-red);
}
.red-border{
    border: 2px solid red !important;
}
@media screen and (min-width: 625px) {
    form{
        gap: 1rem;
        max-width: 600px;
        border-radius: 15px 15px 150px 15px;
    }
    .big-font{
        font-size: 4rem;
    }
    .arrow{
        left: 29rem;
    }
    .splitter{
        margin-top: 1rem;
    }
    input[type=number]{
        width: 6rem;
    }
}
.display{
    display: unset;
}