@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--Off-white);
    font-weight: 400;
}
main{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: white;
    max-width: 350px;
    min-height: 400px;
    margin: 20vh auto;
    padding: 3rem 2rem;
    border-radius: 15px 15px 100px 15px;
}
.in{
    display: flex;
    gap: 1rem;
}
.info{
    display: flex;
    flex-direction: column;
}
.break{
    border-top: 1px solid var(--Smokey-grey);
    width: 100%;
    align-self: center;
}
input[type=text]{
    border: 2px solid var(--Off-white);
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    padding: 0.75rem;
    color: black;
    font-weight: 800;
}
::placeholder{
    font-weight: 700;
}
label{
    text-transform: uppercase;
    color: var(--Smokey-grey);
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 0.75rem;
}
.splitter{
    max-height: 1rem;
}
.arrow {
    max-width: 70px;
    padding:  1.25rem 1rem 1rem 1.35rem;
    background-color: var(--Purple);
    border-radius: 50%;
    position: relative;
    top: -2rem;
    left: 6.5rem;
}
.arrow img{
    width: 1.75rem;
}
.purple{
    color: var(--Purple);
}
.big-font{
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}
@media screen and (min-width: 625px) {
}